<div class="container mx-auto flex justify-between items-center">
    <div class="flex items-center space-x-6">
        <a href="/">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Why Even Pay?" width="134" height="116">
        </a>
        <nav class="space-x-4"> 
            <a href="/about" class="hover:underline text-header-colors font-['Fredoka'] text-[40px] font-semibold leading-[48.4px]">About</a>
            <a href="/submissions" class="hover:underline text-header-colors font-['Fredoka'] text-[40px] font-semibold leading-[48.4px]">Submit</a>
            <a href="https://okat.store" class="hover:underline text-header-colors font-['Fredoka'] text-[40px] font-semibold leading-[48.4px]">Merch</a>
        </nav>
    </div>
    {% include 'components/search.html' %}
</div>